# Creando un DataFrame

In [1]:
# Importamos
import numpy as np
import pandas as pd

## Crear DataFrame con Array

In [2]:
# Primera Forma
# Creando el array
data = np.array([[2,3], [2,5], [3,2]])

In [7]:
# Creando un dataframe - Usamos el Metodo DataFrame, agregamos el array ,el argumento index y el columns, podemos cambiarle el nombre a dichos argumentos para mostrarlos en el dataframe
df = pd.DataFrame(data, index=['Fila 1', 'Fila 2', 'Fila 3'], columns=['Columna 1', 'Columna 2'])

In [8]:
# Mostrando el dataframe
df

        Columna 1  Columna 2
Fila 1          2          3
Fila 2          2          5
Fila 3          3          2

## Crear DataFrame con forma de Listas (Arrays)

In [50]:
# Segunda forma
# Creando un DataFrame en forma de lista
data2 = [[1, 2],  [3, 1]]

In [52]:
# Creando un dataframe
df = pd.DataFrame(data2, index=['Fila 1', 'Fila 2'], 
                  columns=['Col 1', 'Col 2'])

In [4]:
# Mostrando el DataFrame
df

# Crear DataFrame Usando Diccionarios

In [54]:
# Listas que usaremos
Jugadores = ['Lebron James', 'Stephen Curry', 'James Harden', 'Russell Westbrook']
Sueldo = ['48.1 millones', '47.4 millones', '47.1 millones', '44.5 millones']

In [26]:
# Almacenando la lista en un diccionario
dict_jugadores = {'Jugadores': Jugadores, 'Sueldo': Sueldo}

In [33]:
# Creando el DataFrame
df = pd.DataFrame(dict_jugadores)

In [3]:
# Mostrando el DataFrame
df

## Crear DataFrame con un Archivo CSV

In [40]:
# Leer el archivo CSV - Usamos el metodo read_csv()
# Los datos almacenado dentro del csv se le conoce como dataset
df = pd.read_csv('StudentsPerformance.csv')

In [2]:
# Mostrando el dataFrame
df

## Creando un DataFrame con Archivos Excel

In [9]:
# Leyendo el archivoe excel - Usamos el metodo read_excel()
df = pd.read_excel('ANALISIS ESTAD√çSTICO NUTRICION EXCEL INTERMEDIO con funciones de texto.xlsx')

In [14]:
# Mostrando el DataFrame
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Folio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nombre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Diagn√≥stico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,folio,GRUPO,PATERNO,MATERNO,NOMBRES,NOMBRE COMPLETO,RFC,A√ëO DE NAC.,fecha Nac.,EDAD,...,IMC,DX,NaN,NaN,NaN,NaN,NaN,NaN,GRUPO,MEDICAMENTOS
13,NaN,NaN,Cisneros,Flores,Pedro,NaN,CIFP961027HM3,NaN,1996-10-27 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTROL,glibenclamida
14,NaN,NaN,Alvarado,Zapata,Elena,NaN,ALZE380715QT1,NaN,1938-07-15 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OMEGA3,enalapril
15,NaN,NaN,Ramos,Franco,Luis,NaN,RAFL660204BR2,NaN,1966-02-04 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,metformina
16,NaN,NaN,Gonzalez,Pe√±a,Ma Ernestina,NaN,GOPM770123OE5,NaN,1977-01-23 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,omeprazol
17,NaN,NaN,Gaspar,Cortes,Ma Teresa,NaN,GACM790714AT9,NaN,1979-07-14 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Sanchez,Cortez,Martha,NaN,SACM200202DR4,NaN,1920-02-02 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,Campos,Ochoa,Ramona,NaN,CAOR000814QI9,NaN,2000-08-14 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,Jasso,Ramos,Victoria,NaN,JARV730114WU4,NaN,1973-01-14 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Vazquez,Hernandez,Estela,NaN,VAHE600905YT3,NaN,1960-09-05 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Ornelas,Rodriguez,Felicitas,NaN,ORRF740727LG8,NaN,1974-07-27 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,Orozco,Nu√±o,Jose de Jesus,NaN,ORNJ800225WS8,NaN,1980-02-25 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,Chavez,Botello,Jose,NaN,CHBJ300101RS2,NaN,1930-01-01 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,Ramos,Garcia,Manuel,NaN,RAGM800815DN5,NaN,1980-08-15 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,Guzman,Perez,Maria,NaN,GUPM480312CU7,NaN,1948-03-12 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN