In [1]:
import pandas as pd

In [2]:
# Listas
month = [5, 12, 2, 1]
year = [2014, 2011, 2009, 2022]
sale = [54, 78, 48, 32]

In [3]:
# Almacenamos las listas en un diccionario
d_df = {'Meses': month, 
        'Año': year, 
        'Rebaja':sale}

In [4]:
# Creamos el df
df = pd.DataFrame(d_df)

In [9]:
df

        Año  Rebaja
Meses
5      2014      54
12     2011      78
2      2009      48
1      2022      32

In [10]:
df.set_index('Meses', inplace=True)

KeyError: "None of ['Meses'] are in the columns"

In [11]:
df

        Año  Rebaja
Meses
5      2014      54
12     2011      78
2      2009      48
1      2022      32

In [12]:
# Ordenamos el indice
df.sort_index()

        Año  Rebaja
Meses
1      2022      32
2      2009      48
5      2014      54
12     2011      78