In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('laptop_price.csv', encoding='unicode_escape')

In [4]:
df.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

## Crear una columna condicional con 2 o mas opciones: np.select()

* np.select() - Devuelve un array de los elementos, según las condiciones.

In [5]:
# Importamos numpy 
import numpy as np

In [10]:
# Crear un array basado en multiples niveles de precio (+2 opciones)

# Crear conditions (condiciones) y values (valores)
condiciones = [
    df['Price_euros'] > 3000, 
    (df['Price_euros'] > 2000) & (df['Price_euros'] < 3000), 
    (df['Price_euros'] > 800) & (df['Price_euros'] < 2000),
    df['Price_euros'] < 800 
]
valores = ['Muy Caro', 'Caro', 'Barato', 'Muy Barato']

In [26]:
# Crear una nueva columna
price_tier = np.select(condiciones, valores)

In [1]:
# Agregar la nueva columna
df['Price Tier'] = price_tier

NameError: name 'price_tier' is not defined

In [1]:
# Mostrar el dataframe
df.head(20)

In [22]:
# Mostrar lo cantidad de valores que hay en la columna price_tier
df['Price Tier'].value_counts() # Cuenta los valores de la columna

Barato        655
Muy Barato    509
Caro          118
Muy Caro       19
0               2
Name: Price Tier, dtype: int64

## Ejercicio

In [28]:
# Crear un array basado en multiples tamaños de pantallas (screen size + 2 opciones)
# Muy grande > 16, Grande >14, Pequeño >12 y Muy pequeño <12

# Crear condiciones y valores

condiciones = [
    df['Inches'] > 16,
    (df['Inches'] > 14) & (df['Inches'] < 16),
    (df['Inches'] > 12) & (df['Inches'] < 14),
    df['Inches'] < 12
]

valores = ['Muy Grande', 'Grande', 'Pequeño', 'Muy pequeño']

In [32]:
# Crear una nueva columna
screen_size = np.select(condiciones, valores)

In [33]:
# Agregar una nueva columna
df['Screen size'] = screen_size

In [2]:
# Mostrar el dataframe
df.head(5)

In [36]:
# Contar los valores en la columna screen size
df['Screen size'].value_counts()

Grande         674
Pequeño        222
0              203
Muy Grande     166
Muy pequeño     38
Name: Screen size, dtype: int64