# Leer .csv de un URL utilizando pandas.

### website: https://www.football-data.co.uk/data.php

In [114]:
# WebScraping: Extracion de datos de una pagina web

In [115]:
# Importamos pandas
import pandas as pd

In [7]:
# Leer 1 archivo csv de un website(sitio web)
URL = 'https://www.football-data.co.uk/mmz4281/2223/E0.csv' # Copiamos la direccion del enlance del archivo csv de su pagina.
df = pd.read_csv(URL)

In [111]:
# Mostrar el dataframe
df

In [7]:
# Cambiar nombre de columnas
df.rename(columns={'Time':'Tiempo'}, inplace=True) # inplace=True, nos actuliza/guardar el resultado del df

In [8]:
# Cambiar varios nombre de columnas
df.rename(columns={'Date':'Fecha',
                  'HomeTeam':'Equipo Local',
                  'AwayTeam':'Equipo visitante'}, inplace=True)

In [112]:
# Mostrar el dataframe
df

# Leer varios archivos CSV desde una URLs utilizando pandas.

### Link: https://www.football-data.co.uk/data.php

## Multiples ligas, sus links:

* https://www.football-data.co.uk/mmz4281/2223/E0.csv
* https://www.football-data.co.uk/mmz4281/2223/E1.csv
* https://www.football-data.co.uk/mmz4281/2223/E2.csv
* https://www.football-data.co.uk/mmz4281/2223/E3.csv
* https://www.football-data.co.uk/mmz4281/2223/EC.csv

In [3]:
# Estrcutura de link
'https://www.football-data.co.uk/mmz4281/' + '2223' + '/' + 'E0' + '.csv'

'https://www.football-data.co.uk/mmz4281/2223/E0.csv'

In [116]:
# Crear una variable root - Nuestra ruta
# Ruta
root = 'https://www.football-data.co.uk/mmz4281/'

In [117]:
# Creamos una lista de ligas
lista_ligas = ['E0', 'E1', 'E2', 'E3', 'EC']
# Lista vacia
frames = []

# Haremos un bucle for en la lista de ligas
for ligas in lista_ligas:
    # Extraeremos/leeremos cada liga en la lista su archivo .csv en el df
    df = pd.read_csv( root + '2223' + '/' + ligas + '.csv')
    # Usamos el metodo append para agregar el df a la lista vacia frames.
    frames.append(df)

In [11]:
# Tama;o de los frames
len(frames)

5

In [118]:
# Mostrar 1er, 2do y 3er elemento
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,06/08/2022,15:00,Aldershot,Solihull,1,4,A,1,2,...,2.03,0.75,1.93,1.88,1.93,1.92,1.94,1.98,1.89,1.88
1,EC,06/08/2022,15:00,Altrincham,Maidstone,1,1,D,1,1,...,2.00,-0.25,1.93,1.88,1.94,1.91,1.96,1.92,1.91,1.87
2,EC,06/08/2022,15:00,Barnet,Halifax,2,0,H,1,0,...,2.07,0.25,1.85,1.95,1.86,1.99,1.88,2.00,1.84,1.92
3,EC,06/08/2022,15:00,Dag and Red,Gateshead,2,2,D,1,2,...,2.10,-0.50,1.88,1.93,1.93,1.93,1.93,2.02,1.85,1.92
4,EC,06/08/2022,15:00,Dorking,Chesterfield,2,2,D,0,2,...,2.25,0.25,1.95,1.85,1.95,1.89,2.01,1.89,1.92,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,EC,17/09/2022,15:00,Solihull,Barnet,1,1,D,1,1,...,2.69,-1.25,2.00,1.80,2.01,1.85,2.02,1.86,1.97,1.80
104,EC,17/09/2022,15:00,Southend,Wrexham,0,0,D,0,0,...,1.99,1.00,1.88,1.93,1.89,1.96,1.90,2.07,1.82,1.96
105,EC,17/09/2022,15:00,Wealdstone,Torquay,1,1,D,0,1,...,1.92,-0.25,1.83,1.98,1.85,2.02,1.89,2.02,1.82,1.95
106,EC,17/09/2022,15:00,Yeovil,Chesterfield,2,2,D,1,1,...,1.79,1.00,1.80,2.00,1.85,2.01,1.86,2.09,1.80,1.98
107,EC,17/09/2022,17:20,Aldershot,Halifax,5,1,H,2,1,...,1.73,0.00,2.05,1.75,2.11,1.77,2.12,1.82,2.05,1.74

## Multiples temporadas

### Temporada 2021/2022
* https://www.football-data.co.uk/mmz4281/2122/SC0.csv
* https://www.football-data.co.uk/mmz4281/2122/SC1.csv
* https://www.football-data.co.uk/mmz4281/2122/SC2.csv
* https://www.football-data.co.uk/mmz4281/2122/SC3.csv

### Temporada 2020/2021
* https://www.football-data.co.uk/mmz4281/2021/SC0.csv
* https://www.football-data.co.uk/mmz4281/2021/SC1.csv
* https://www.football-data.co.uk/mmz4281/2021/SC2.csv
* https://www.football-data.co.uk/mmz4281/2021/SC3.csv

### Temporada 2019/2020
* https://www.football-data.co.uk/mmz4281/1920/SC0.csv
* https://www.football-data.co.uk/mmz4281/1920/SC1.csv
* https://www.football-data.co.uk/mmz4281/1920/SC2.csv
* https://www.football-data.co.uk/mmz4281/1920/SC3.csv

In [13]:
# Estrcutura del link
'https://www.football-data.co.uk/mmz4281/' + '2223' + '/' + 'SCO' + '.csv'

'https://www.football-data.co.uk/mmz4281/2223/SCO.csv'

In [88]:
root = 'https://www.football-data.co.uk/mmz4281/'

In [119]:
# Creamos una lista de ligas
lista_ligas = ['SC0', 'SC1', 'SC2']
# Lista vacia
frames = []

# Bucle for en la lista de ligas
for ligas in lista_ligas:
    # Bucle for - Realizaremos un bucle a un range de temporadas.
    for season in range(19, 23):
        
        # OJO: Estamos convirtiendo las temporadas(season) en una cadena de texto y estamos sumando la misma variable +1, asi podemos agregar las temporadas juntas(eje: 2021)
        df = pd.read_csv( root + str(season) + str(season+1)  + '/' + ligas + '.csv')

        # Creamos una nueva columna, para identificar a que temporada pertenece cada df.
        df.insert(1, 'Season', season)

        # Agregaremos el dataframe con el metodo append a la lista vacia frames.
        frames.append(df)

In [120]:
len(frames)

12

In [121]:
frames[0].head(5)

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SC0,19,03/08/2019,15:00,Celtic,St Johnstone,7,0,H,3,...,2.25,-2.0,1.83,2.02,1.87,2.05,1.91,2.05,1.86,1.99
1,SC0,19,03/08/2019,15:00,Hibernian,St Mirren,1,0,H,0,...,1.77,-1.0,1.80,2.05,1.83,2.09,1.89,2.11,1.82,2.03
2,SC0,19,03/08/2019,15:00,Livingston,Motherwell,0,0,D,0,...,1.62,0.0,1.77,2.10,1.75,2.21,1.78,2.29,1.73,2.15
3,SC0,19,03/08/2019,15:00,Ross County,Hamilton,3,0,H,2,...,1.93,-1.0,2.02,1.83,2.06,1.86,2.13,1.87,2.02,1.82
4,SC0,19,04/08/2019,13:30,Kilmarnock,Rangers,1,2,A,0,...,1.71,1.0,1.93,1.93,1.97,1.95,1.98,2.11,1.87,1.98

In [60]:
round(frames[1].describe(), 2)

,Season,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
count,228.0,228.00,228.00,228.00,228.00,228.00,228.00,228.00,228.00,228.00,...,228.00,228.00,228.00,228.00,227.00,227.00,228.00,228.00,228.00,228.00
mean,20.0,1.27,1.15,0.63,0.51,11.85,11.49,3.90,3.66,12.75,...,1.87,-0.12,1.91,1.94,1.94,1.96,1.99,2.01,1.91,1.93
std,0.0,1.31,1.16,0.81,0.77,5.62,5.22,2.78,2.32,3.45,...,0.41,1.02,0.09,0.09,0.09,0.09,0.09,0.10,0.09,0.09
min,20.0,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,4.00,...,1.40,-3.00,1.70,1.73,1.71,1.72,1.81,1.81,1.74,1.72
25%,20.0,0.00,0.00,0.00,0.00,8.00,8.00,2.00,2.00,10.00,...,1.62,-0.50,1.85,1.88,1.88,1.90,1.91,1.94,1.84,1.86
50%,20.0,1.00,1.00,0.00,0.00,11.00,11.00,3.00,3.00,13.00,...,1.72,-0.25,1.93,1.93,1.95,1.95,1.98,2.00,1.90,1.92
75%,20.0,2.00,2.00,1.00,1.00,15.00,15.00,5.00,5.00,15.00,...,1.99,0.50,1.98,2.00,2.01,2.04,2.05,2.08,1.97,2.00
max,20.0,8.00,5.00,4.00,3.00,28.00,28.00,15.00,12.00,24.00,...,3.79,2.75,2.13,2.15,2.22,2.22,2.25,2.26,2.13,2.12

## 3. Organizar la data en un dict(Diccionario)
* Para organizar todos los csv que hemos extraido de la web, usaremos los diccionarios que nos ayudaran a identificar facilmente que archivo/elemento queremos ver/acceder sin la necesidad de hacer una indexación de listas.
* OJO: Nos evita hacer esto -> frames[1]

In [109]:
# Crearemos un diccionario con el nombre original de la liga como llave
dict_paises = {
    'Scotland Premier League': 'SC0',
    'Scoltland League 1': 'SC1',
    'Scoltland League 2': 'SC2'
}

In [108]:
# Obtener un elemento del diccionario
dict_paises['Scotland Premier League']

'SC0'

In [110]:
# Diccionario vacio
dict_historia_data = {}

# Hacer un bucle sobre las llaves del diccionario
for ligas in dict_paises:
    # Lista vacia
    frames = []
    # Bucle for - Realizaremos un bucle y insertaremos un range de temporadas.
    for season in range(19, 23):        
        df = pd.read_csv( root + str(season) + str(season+1)  + '/' + dict_paises[ligas] + '.csv')
        df.insert(1, 'Season', season)
        frames.append(df)
    
    # Metodo pd.concat() - Nos ayuda a concatenar elementos, en este caso todos los df
    df_concat = pd.concat(frames)
    
    # Agregamos las ligas al diccionario vacio.
    dict_historia_data[ligas] = df_concat

In [107]:
dict_historia_data.keys()

dict_keys(['Scotland Premier League', 'Scoltland League 1', 'Scoltland League 2'])

In [103]:
# Mostrar el df dentro de dict_historialData
dict_historia_data['Scotland Premier League']

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SC0,19,03/08/2019,15:00,Celtic,St Johnstone,7,0,H,3,...,2.25,-2.00,1.83,2.02,1.87,2.05,1.91,2.05,1.86,1.99
1,SC0,19,03/08/2019,15:00,Hibernian,St Mirren,1,0,H,0,...,1.77,-1.00,1.80,2.05,1.83,2.09,1.89,2.11,1.82,2.03
2,SC0,19,03/08/2019,15:00,Livingston,Motherwell,0,0,D,0,...,1.62,0.00,1.77,2.10,1.75,2.21,1.78,2.29,1.73,2.15
3,SC0,19,03/08/2019,15:00,Ross County,Hamilton,3,0,H,2,...,1.93,-1.00,2.02,1.83,2.06,1.86,2.13,1.87,2.02,1.82
4,SC0,19,04/08/2019,13:30,Kilmarnock,Rangers,1,2,A,0,...,1.71,1.00,1.93,1.93,1.97,1.95,1.98,2.11,1.87,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,SC0,22,17/09/2022,15:00,Livingston,Kilmarnock,1,0,H,1,...,1.62,-0.25,1.77,2.02,1.78,2.14,1.84,2.14,1.77,2.05
38,SC0,22,17/09/2022,15:00,Rangers,Dundee United,2,1,H,1,...,2.82,-2.25,1.98,1.88,1.97,1.92,2.05,1.94,1.93,1.88
39,SC0,22,17/09/2022,15:00,St Johnstone,Ross County,0,0,D,0,...,1.48,0.00,1.70,2.20,1.71,2.24,1.81,2.24,1.74,2.11
40,SC0,22,18/09/2022,12:00,St Mirren,Celtic,2,0,H,1,...,2.47,1.75,1.90,1.95,1.93,1.95,2.00,2.00,1.94,1.87
41,SC0,22,18/09/2022,15:00,Motherwell,Hearts,0,3,A,0,...,1.81,0.00,1.90,1.95,1.90,2.01,1.94,2.05,1.85,1.98