In [1]:
import pandas as pd

In [2]:
# Leer el archivo csv
df = pd.read_csv('StudentsPerformance.csv')

In [5]:
df.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

# Seleccionar una columna

### Podemos seleccionar una columna usando []
#### Esta es la opcion mas recomendada

In [10]:
# Esta es la forma mas recomendada para seleccionar las columnas.
df['gender'].head(2)

0    female
1    female
Name: gender, dtype: object

In [11]:
# Revisar el tipo de data de una columna
type(df['gender'].head(2))

pandas.core.series.Series

In [12]:
# Atributos y metodos de una Series.
df['gender'].index

RangeIndex(start=0, stop=1000, step=1)

In [13]:
df['gender'].head(2)

0    female
1    female
Name: gender, dtype: object

### Seleccioar una columna usando . 
#### Esta opcion es la menos recomendada.
#### Ojo con este metodo no se pueden seleccionar mas de dos columnas.

In [16]:
df.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [19]:
# Errores que encontraras al seleccionar una columna con .
df.math score

SyntaxError: invalid syntax (1019383152.py, line 2)

In [21]:
# Seleccionar la misma columna con []
df['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

# Seleccionar dos o mas Columnas

In [10]:
# Seleccionar dos columanas usando [[]]
df[['gender', 'lunch']].head(2)

   gender     lunch
0  female  standard
1  female  standard

In [12]:
# Tipo de dato de esta seleccion
type(df[['gender', 'lunch']])

pandas.core.frame.DataFrame

In [17]:
# Seleccionar mas columnas
df[['gender', 'math score', 'reading score', 'writing score']].head(10)

   gender  math score  reading score  writing score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75
5  female          71             83             78
6  female          88             95             92
7    male          40             43             39
8    male          64             64             67
9  female          38             60             50